a:link { 
	color: white; 
	text-decoration: none;
}

a:visited { 
	color: white; 
	text-decoration: none;
}

a:active { 
	color: #666; 
	text-decoration: none;
}

a:hover { 
	color: #fff2d2; 
	text-decoration: none;
}

a h1:hover { 
	color: #fff2d2; 
	text-decoration: none;
}

body{
	color: #5B5B5B;
    font-family: Tahoma;
    font-size: 9pt;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: 'Cabin Condensed', sans-serif;
	background: #e6e6e6;
	letter-spacing: .25em;
}

h1 {
	font-size: 32px;
	margin-top: 2px;
	padding: 0px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	color: #FFCD48;
	font-weight: bold;
}

.FloatLeft {
	float: left;
}

#main {
	width:940px;
	/* min-height: 700px; */
	margin:70px auto 0px auto;
	background: black;
	border: 3px solid #ffcd48;
	box-shadow: 0px 0px 20px black;
	position: relative;
}
#header {
	font-weight: 500;
	text-shadow: color: rgba(255,255,255,.1);
	width: 940px;
	color: #f1f1f1;
	position: relative;
	z-index: 1;
}
.main-head{color:#FFF; padding-top:20px; padding-left:100px; font-family:Tahoma, Geneva, sans-serif; font-size:20px; font-weight:bold;}

#content {
	width:100%;
	position: relative;
	font-family: 'Cabin Condensed', sans-serif;
	letter-spacing: .25em;
}

.ContentImage {
	width: 940px;
	height: 236px;
	/* margin-bottom: -55px; */
	overflow: hidden;
}

.AdminContainer {
	text-align: center;
}

#right {
	float:left;
	width:735px;
	margin: 30px 0px 0px 160px;
	font-family: 'Cabin Condensed', sans-serif;
	color: white;
	text-align: left;
	font-size: 15px;
}
.thead {
    background: url("../images/thead_bg.gif") no-repeat scroll right center #6C6C6C;
}
.dhead {
    color: #FDFCFC;
    font-family: Tahoma;
    font-size: 10pt;
    padding: 0 0 0 10px;
}
.dmenu {
    color: #5B5B5B;
    font-family: Tahoma;
    font-size: 9pt;
    padding: 3px 10px;
}
.dmenu a {
	color:#999;
}
#footer {
	clear:both;
	height:40px;
	padding-top:20px;
	border-top: solid 1px #E6E6E6;
	color: #E6E6E6;
    font-size: 10px;
}
#login{
	margin-left:130px; 
	margin-top:60px; 
	margin-bottom:100px; 
	width:350px; 
	/*border:solid 1px #BCBCBC; 
	background-color:#6C6C6C;
	*/
	padding-top:20px;
	padding-bottom:20px;
}
label{
	font-size: 15px;
	text-align: left;
	color: white;
    padding: 0 0 0 6px;
	font-weight:bold;
}
.textfield {
	border:solid 1px #BCBCBC;
    font-family: Tahoma;
    font-size: 10pt;
	color: #5B5B5B;
}
.err-msg {
	 color:#F00;
    font-family: Tahoma;
    font-size: 10pt;
}
.link{
	color: #5B5B5B;
    font-family: Tahoma;
    font-size: 9pt;
}
.select{
	color: #5B5B5B;
    font-family: Tahoma;
    font-size: 9pt;
}
.button {
	background-color:#141212;
	border: solid ipx #BCBCBC;
	color:#FFF;
	font-weight:bold;
}
.msg {
	margin: 50px 0px 20px 0px;
	padding: 5px 0px;
	color:white;
	font-weight:bold;
	width: 100%;
	background: #363636;
	text-align: center;
}
#tab_content {
	margin-top:10px;
	margin-left:8px;
}
#tab_content div {
	float:left;
	padding:4px;
	border:solid 1px #F00;
	margin-right:1px;
	background-color:#6C6C6C;
	border: 1px solid #BCBCBC;
}
#tab_content a {
	text-decoration:none;
	color:#ffffff;
}
#main_content {
	clear:both;
	padding-top:10px;
	margin-left:8px;
}
.img_div {
	width:176px;
	float:left;
	border: 1px solid #BCBCBC;
	padding:5px;
	margin:2px;
}
a:visited {
	outline:none;
}
.active-tab {
	font-weight:bold;
}
.tableborder
	{
		border:solid 1px #CCC;
	}
	
	.tableheadings
	{
		font-size:18px;
		font-weight:bold;
		color:#FFF;
		background-color:#666;
	}
	
	.oddrow
	{
		background-color:#CCC;
	}
	
	.evenrow
	{
		background-color:#FFC;
	}
	
	.titlelink
	{
		text-decoration:none;
		color:#093;
	}
	
	.otherlink
	{
		text-decoration:none;
	}
	
	/********************************************
				Tabs Main
/*******************************************/
.buttonsMain {
	width:352px;
	margin: 20px auto 0;
}
.buttonsMain .buttons01 { 
	margin:0 auto;
	line-height:40px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background:url(../images/btnBg.png) repeat-x;
	font-size:12px;
	text-align:center;
	width: 350px;
	margin-top:15px;
	border:solid 1px #55791b;
    border-radius: 12px 12px 12px 12px;
}
.buttonsMain .buttons01 span{
	width:7px;
	height:7px;
	margin:0 7px;
}
.buttonsMain .buttons02 { 
	margin:0 auto;
	line-height:40px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background:url(../images/btnBg.png) repeat-x;
	font-size:12px;
	text-align:center;
	width:282px;
	margin-top:15px;
	border:solid 1px #55791b;
    border-radius: 12px 12px 12px 12px;
}
.buttonsMain .buttons02 span{
	width:7px;
	height:7px;
	margin:0 7px;
}
.buttonsMain .buttons03 { 
	margin:0 auto;
	line-height:40px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background:url(../images/btnBg.png) repeat-x;
	font-size:12px;
	text-align:center;
	width:212px;
	margin-top:15px;
	border:solid 1px #789839;
    border-radius: 12px 12px 12px 12px;
}
.buttonsMain .buttons03 span{
	width:7px;
	height:7px;
	margin:0 7px;
}

/*Homepage */

 .HomePanel {
	text-align: center;
	float: left;
	width: 468px;
	height: 729px;
	margin-bottom: -1px;
 }
 
 .HomePanel + .HomePanel {
	border-left: 3px solid #FFCD48;
	width: 469px;
 }
 
 .HomeBanner {
	height: 178px;
	padding-right: 80px;
	text-align: center;
	border-bottom: solid 2px #ffcd48;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
 }

 .HomeBannerRight {
	padding-right: 0px;
	padding-left: 80px;
 }
 
 .HomePanel h1 {
	font-size: 60px;
	color: white;
	margin-top: 37px;
 }
 
 .HomeLogo {
	position: absolute;
	top: -54px;
	left: 332px;
 }
 
 .HomeImage {
	margin-bottom: 16px;
	width: 469px;
 }
 
  .HomePanel + .HomePanel .banner h1 {
	padding-right: 0px;
	padding-left: 35px;
 }
 
 .HomeBulletsLeft {
	margin: 0px auto;
	width: 420px;
 }
 .HomeBulletsRight {
	margin: 0px auto;
	width: 310px;
 }
 
 .CourseInstanceHome {
	display: block;
	padding-left: 31px;
	padding-bottom: 20px;
	background: url('../images/ShieldBullet.png') no-repeat 2px 0px;
	font-size: 15px;
	text-align: left;
	letter-spacing: 2px;
	font-weight: bold;
}
 
 #HomeContentLeft {
	background: ;
 }

 #HomeContentRight {
	background: ;
 }
 
 .HomeClear {
	height: 1px;
	width: 1px;
	margin-top: -1px;
	position: relative;
	z-index: -1;
	clear:both;
 }

/* Header */

	#Logo {
		position: absolute;
		top: -48px;
		left: 18px;
		background: url('../images/logo.png');
		width: 159px;
		height: 181px;
		z-index: 1;
	}

	#SiteSection {
		color: #ffcd48;
		height: 42px;
		font-size: 34px;
		padding: 4px 0px 10px 196px;
		/*
		text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) -1px -1px, rgba(255, 255, 255, 0.5) 0px 1px, rgba(0, 0, 0, 0.3) -1px -1px;
		*/
	}

	.NavLinkContainer {
		position: relative;
		float: left;
	}
	
	.TopNavShadowControl {
		overflow: hidden;
		padding-bottom: 35px;
		margin-bottom: -35px;
	}
	
	#TopNav {
		font-size: 24px;
		float: left;
		width: 727px;
		padding-left: 213px;
		background: #202020;
		display: block;
		border-top: 1px #2f2f2f solid;
		border-bottom: 1px solid #1c1c1c;
		box-shadow: 0px 0px 35px black;
	}

	#TopNav a {
		float: left;
		display: block;
		text-decoration: none;
		color: #f1f1f1;
		position: relative;
		  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	}
	
	.BackEndNav {
		margin: 5px 37px 9px 0;
	}
	
	.FrontEndNav {
		margin: 5px 90px 9px 0;
	}
	
	#TopNav a:hover {
		color: #bdbdbd;
	}

	#ActiveNavLink {
		text-shadow: 0em 0em 0em #7E6B49 inset;
	}
/*
	#TopNav a:before, #TopNav a:after {
		content: attr(title);
		color: rgba(255,255,255,.1);
		position: absolute;
		z-index: 1;
	}
	
	#TopNav a:before { top: 1px; left: 1px }
	
	#TopNav a:after  { top: 2px; left: 2px }

*/
		/* http://dabblet.com/gist/1609945 */
		
	.depth {
		display: block;
		padding: 50px;
		color: black;
		font: bold 7em Arial, sans-serif;
		position: relative;
	}

	.depth:before, .depth:after {
		content: attr(title);
		padding: 50px;
		color: rgba(255,255,255,.1);
		position: absolute;
	}
	
	.depth:before { top: 1px; left: 1px }
	
	.depth:after  { top: 2px; left: 2px }
	
	/*Content*/
	
	.PageTitle {
		margin: 0px 130px 20px 130px;
	}
	
	.PageDescription {
		margin: 0px 130px 20px 130px;
		font-size: 18px;
		font-weight: bold;
		color: #E6E6E6;
	}
	
	.PageContent {
		margin: 0px 130px 20px 130px;
		font-size: 18px;
		font-weight: bold;
		color: #E6E6E6;
	}
	
	.PageContent a {
		color: white;
		text-decoration: none;
	}
	
	.PageContent a:hover {
		color: #FFF2D2;
	}
	
	/* Courses */
	
	.CourseInstance {
		display: block;
		margin-left: 42px;
		padding-left: 32px;
		padding-bottom: 20px;
		background: url('../images/ShieldBullet.png') no-repeat 2px 0px;
		font-size: 18px;
		font-weight: bold;
		text-align: left;
	}

/* Events */

	.EventInstance {
		margin: 0 130px 20px;
		
	}

	.EventPropLabel {
		float: left;
		width: 90px;
	}

	.EventProp {
	}
	
	.EventTitle {
		float: left;
	}
	
	.EventDate {
	}

/*Contact Us*/

	.ContactForm {
		width: 600px;
	}

	#form1 {
		margin: 45px 130px 20px 130px;
	}
	
	legend {
		font-size: 24px;
		margin: 0px;
		padding: 0px;
		color: #FFCD48;
		font-weight: bold;
	}
	
	fieldset {
		border: 0px;
	}
	
	#form1 .container {
		margin-top: 15px;
		margin-right: 30px;
	}

/* Admin */


.Five {
	width: 500px;
	height: 500px;
	padding: 50px;
}